################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HashingAndSaltingPasswords/FileContentIndex/9276fd05-95a9-4975-b0ae-929c71238b63.vsidx
/.vs/HashingAndSaltingPasswords/v17/.suo
/.vs/HashingAndSaltingPasswords/FileContentIndex
/.vs/HashingAndSaltingPasswords/FileContentIndex/989268fe-75f4-4197-a91a-15ae0a0ef36c.vsidx
/.vs/HashingAndSaltingPasswords/v17/.suo
/obj/Debug/net5.0
